
.viewer-container {
  height: 100vh;

  .signin-content {
    width: 400px;
  }
}

.smart-table {
  font-size: 12px;

  >td, th {
    border: 1px solid #000;
    text-align: left;
    padding: 8px;
  }
}
